html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.primary{
    background-color: black !important ;
}

.secondary{
    background-color: rgb(77, 1, 77) !important ;
}

.accent{
    background-color:yellow; 
}

.primary-color{
    color: white;
}

.secondary-color{
    color: white;
}

.accent{
    color:black;
}

.row {
    padding: 10px;
    display: flex;
}
  
.column1 {
    padding: 10px;
    width: 25%;
}
  
.column2 {
    padding: 10px;
    width: 75%;
}

.column {
    padding: 10px;
    width: 25%;
}
  
ul{
    padding: 20px;    
}

a{
    padding: 10px;
}

a:hover{
    color: rgba(0, 255, 0, 0.5);
}

footer{
    color: white;
    padding: 10px;
    width: 100%;
}

